[Unit]
Description=The NGINX HTTP and reverse proxy server
After=network.target remote-fs.target docker.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-compose -f /usr/local/lib/docker-compose/nginx.yml up
ExecStop=/usr/local/bin/docker-compose -f /usr/local/lib/docker-compose/nginx.yml down

[Install]
WantedBy=multi-user.target
