[Unit]
Description=WeeChat, the extensible chat client for user %i.
After=network.target docker.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f /usr/local/lib/docker-compose/weechat-%i.yml up
ExecStop=/usr/bin/docker-compose -f /usr/local/lib/docker-compose/weechat-%i.yml down

[Install]
WantedBy=multi-user.target
