[Unit]
Description=WeeChat, the extensible chat client for user %i.
After=network.target docker.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-compose -f /usr/local/lib/docker-compose/weechat.yml up
ExecStop=/usr/local/bin/docker-compose -f /usr/local/lib/docker-compose/weechat.yml down

[Install]
WantedBy=multi-user.target
